.advantage__item {
  margin: 5px 0;
  list-style-type: none;
  display: flex;
}

.advantage__title {
  font-size: 18px;
  line-height: 10px;
  margin-bottom: 22px;
}

.advantage__item::before {
  content: "";
  background-repeat: no-repeat;
  padding: 0 0 0 30px;
}

.advantage__item:nth-child(1)::before {
  background-image: url("../img/icon-house.svg");
  background-size: 37px 37px;
  width: 37px;
  height: 37px;
}

.advantage__item:nth-child(2)::before {
  background-image: url("../img/icon-gift.svg");
  width: 33px;
  height: 37px;
  background-size: 33px 37px;
}

.advantage__item:nth-child(3)::before {
  background-image: url("../img/icon-burger.svg");
  width: 35px;
  height: 40px;
  background-size: 35px 40px;
}

@media (min-width: @tablet-width) {
  .advantage__item {
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  .advantage__item::before, {
    padding: 0 0 15px 0;
  }

  .advantage__item:nth-child(1)::before {
    background-image: url("../img/icon-house.svg");
    background-size: 75px 71px;
    width: 75px;
    height: 71px;
  }

  .advantage__item:nth-child(2)::before {
    background-image: url("../img/icon-gift.svg");
    width: 60px;
    height: 70px;
    background-size: 60px 70px;
  }

  .advantage__item:nth-child(3)::before {
    background-image: url("../img/icon-burger.svg");
    width: 75px;
    height: 70px;
    background-size: 75px 70px;
  }

  .advantage__text {
    width: 165px;
  }

  .advantage__title {
    margin-bottom: 30px;
    font-size: 21px;
  }

  .advantage__item:nth-child(2) {
    order: 2;
  }
}

@media (min-width: @desktop-width) {
  .advantage__item {
    padding: 50px 0 65px 0;
  }

  .advantage__text {
    width: 290px;
  }

  .advantage__item:nth-child(2) .advantage__text {
    width: 195px;
    padding: 0 52px;
  }
}
