.advantage__item {
  padding-left: 70px;
  list-style-type: none;
  margin-bottom: 30px;
  margin-top: 30px;
}

@media (min-width: @tablet-width) {
  .advantage__item {
    margin-bottom: 20px;
    margin-top: 150px;
    padding: 0 20px;
    text-align: center;
  }
}

@media (min-width: @tablet-width) {
  .advantage__item {
    margin-bottom: 0;
    margin-top: 150px;
    padding: 50px;
    text-align: center;
  }
}