.main-wrapper {
  margin: 0 auto;
  font-family: "PT Sans", sans-serif, "Arial";
  line-height: 25px;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
  font-size: 14px;
  padding: 0;
  min-width: @mobile-width;
  max-width: @mobile-width;
  box-shadow: 0 1px 15px -1px #000000;
}

body {
  background-color: #f2f2f2;
}

.button {
  width: 285px;
  height: 55px;
  margin: 30px 0 30px 0;
  font-weight: 700;
  font-size: 21px;
  line-height: 55px;
  color: #ffffff;
  background-color: #81b3d2;
  text-decoration: none;
  border: none;
  
  &:hover {
    background-color: #669ec0;
  }

  &:focus {
    background-color: #5496bd;
    color: #88b6d1;
  }

  &:disabled {
    background-color: #5496bd;
    color: #88b6d1;
  }
}

@media (min-width: @tablet-width) {
  .main-wrapper {
    max-width: @tablet-width;
  }
}

@media (min-width: @desktop-width) {
  .main-wrapper {
    min-width: @desktop-width;
  }
}
