@import "advanteges.less";

.feature-blue {
  background-color: #81b3d2;
}

.feature-blue__title,
.feature-blue__number,
.feature-blue__text,
.feature-blue__text--with-triangle {
  color: #ffffff;
}

.feature-blue__text,
.feature-blue__text--with-triangle {
  line-height: 25px;
  text-align: center;
}

.feature-blue__text {
  padding: 10% 5% 10% 5%;
}

.feature-blue__title {
  font-size: 21px;
}

.triangle {
  background-image: url(../img/bg-triangle.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  margin: -10px;
}

.feature-blue__text--with-triangle {
  padding: 20% 5% 10% 5%;
}

.feature-blue__advantages-list {
  background-color: #ffffff;
  padding: 5% 5% 5% 5%;
}
