.find-hotel {
  padding: 30px 20px;
  line-height: 25px;
  text-align: center;
}

.find-hotel button {
  width: 100%;
}

.find-hotel p {
  margin: 30px 0;
}

.find-hotel__title {
  margin: 0;
}

@media (min-width: @tablet-width) {
  .find-hotel {
    width: 460px;
    margin: auto;
    padding: 40px 155px;
  }

  .find-hotel p {
    margin: 40px 0;
  }
}

@media (min-width: @desktop-width) {
  .find-hotel {
    padding: 55px 370px;
  }
}