.page-footer {
  text-align: center;
}

.page-footer__list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social__item {
  margin-right: 6px;
  margin-bottom: 6px;
}

.social__link {
  display: block;
  width: 48px;
  height: 35px;
  padding-top: 13px;
  color: #ffffff;

  background-color: #81b3d2;

  &:hover {
    background-color: #669ec0;
  }

  &:focus {
    background-color: #5496bd;
  }
}

.social__logo {
  fill: #ffffff;

  &:focus {
    fill: #b2b2b2;
  }
}

.social__item:nth-child(2) .social__link {
  padding-left: 8px;
  width: 40px;
}

.page-footer__copyright {
  display: flex;
  justify-content: center;
}

.page-footer__copyright-text {
  padding-right: 12px;
  line-height: 48px;
  margin: 0;
}

.page-footer__copyright-logo {
  display: block;
  width: 27px;
  height: 48px;
  padding-top: 5px;

  &:hover {
    fill: #81b3d2;
  }

  &:focus {
    fill: #b2b2b2;
  }
}

.page-footer__hashtag,
.page-footer__list,
.page-footer__copyright {
  padding: 20px 50px 0 50px;
  margin: 20px 0;
}

@media (min-width: @tablet-width) {
  .page-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .page-footer__hashtag,
  .page-footer__list,
  .page-footer__copyright {
    padding: 35px 60px;
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__hashtag,
  .page-footer__list,
  .page-footer__copyright {
    padding: 40px 120px;
  }
}
