.form-info {
  text-align: center;
}

.form-personality__title,
.form-contacts__title,
.form-impression__title,
.form-places__title,
.form-review__title {
  font-size: 18px;
}

.form-personality,
.form-contacts,
.form-impression,
.form-places,
.form-review {
  padding: 5%;
}

fieldset {
  border: none;
  border-top: 1px solid #e5e5e5;
}

