.form-info {
  text-align: center;
}

.form__legend {
  font-size: 18px;
  font-weight: 700;
  padding: 20px 0 0 0;
}

.form-personality,
.form-contacts,
.form-impression,
.form-places,
.form-review {
  padding: 20px;
}

.form fieldset {
  border: none;
  border-bottom: 1px solid #e5e5e5;
  margin: 0;
}

.form fieldset:last-of-type {
  border: none;
}

.form-review__legend {
  visibility: hidden;
}

.form-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.form button {
  width: 280px;
  margin: 0 20px;
  text-transform: uppercase;
}

.form-list__item {
  display: flex;
  margin-bottom: 20px;
}

.form-list__title {
  display: block;
  padding-right: 20px;
  line-height: 58px;
  user-select: none;
}

.form-list__inner {
  display: flex;
  width: 100%;
}

.form-review__text,
.form-list__input {
  flex-grow: 1;
  width: 1%;
  height: 58px;
  margin: 0;
  padding: 0 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
  text-transform: none;
  background-color: #f2f2f2;
  border: none;
  outline: none;

  &:hover {
    background-color: #e5e5e5;
  }

  &:focus {
    background-color: #ffffff;
    border: 3px solid #e5e5e5;
  }
}

.input-icon-wrapper {
  width: 58px;
  height: 58px;
  background-color: #e6e6e6;
  line-height: 58px;
}

.form-review__text {
  width: 270px;
  height: 160px;
  margin-top: 10px;
  padding: 10px 0 0 10px;
}

.form-list__item--contacts {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 45px;
}

.form-list__title--contacts {
  margin-bottom: 5px;
  margin-left: 20px;
  line-height: 25px;
  text-align: left;
  white-space: nowrap;
}

.checkbox-list,
.toggle-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.checkbox-list__item,
.toggle-list__item {
  margin: 0 0 13px 0;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

.checkbox-list__input,
.toggle-list__input {
  display: none;
}

.checkbox-list__title,
.toggle-list__title {
  position: relative;
  display: block;
  padding-left: 75px;
  font-weight: 700;
  font-size: 18px;
  line-height: 56px;
  text-align: left;
  color: #000000;
  text-transform: none;
  white-space: nowrap;
  user-select: none;
}

.toggle-list__title::before {
  content: "";
  position: absolute;
  left: 0;
  display: block;
  width: 18px;
  height: 18px;
  background-color: #f2f2f2;
  border: 18px solid #f2f2f2;
  border-radius: 50%;
}

.checkbox-list__title::before {
  content: "";
  position: absolute;
  left: 0;
  display: block;
  width: 56px;
  height: 56px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 5px;
}

.toggle-list__title:hover::before,
.checkbox-list__title:hover::before {
  background-color: #e6e6e6;
  border-color: #e6e6e6;
}

.toggle-list__title:active::before,
.checkbox-list__title:active::before {
  background-color: #d5d5d5;
  border-color: #d5d5d5;
}

.checkbox-list__input:checked + .checkbox-list__title::before {
  background: #f2f2f2 url("../img/icon-tick.svg") no-repeat 50% 50%;
}

.toggle-list__input:checked + .toggle-list__title::before {
  background-color: #333333;
}

.toggle-list__input:active:checked + .toggle-list__title:active::before {
  background-color: #a4a4a4;
}

.checkbox-list__input:active:checked + .checkbox-list__title:active::before {
  background: #d5d5d5 url("../img/icon-tick.svg") no-repeat 50% 50%;
}

@media (min-width: @tablet-width) {
  .form {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    padding: 0 60px 40px 60px;
  }

  .form fieldset {
    border: none;
  }

  .form-personality {
    flex-basis: 273px;
  }

  .form-impression {
    order: -1;
    flex-basis: 323px;
    padding: 20px 0 0 0;
  }

  .form-contacts,
  .form-places {
    flex-basis: 648px;
    padding: 20px 0;
  }

  .form fieldset:nth-child(2),
  .form fieldset:nth-child(4),
  .form fieldset:nth-child(5) {
    border-top: 1px solid #e5e5e5;
  }

  .form__legend {
    max-width: 323px;
    height: 50px;
    flex-basis: 320px;
    font-size: 21px;
    font-weight: 700;
    padding: 0 30px;
    background-color: #ffffff;
  }

  .form-impression .form__legend,
  .form-personality .form__legend {
    padding: 0;
  }

  .form-review {
    flex-basis: 648px;
    padding: 0;
  }

  .form-review__text {
    margin-top: 20px;
    width: 658px;
  }

  .form button {
    width: 410px;
    height: 60px;
    margin: 0;
  }

  .form-review__submit {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .form-review__legend {
    flex-basis: 180px;
    visibility: visible;
    margin-left: 165px;
  }

  .checkbox-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 30px 0;
  }

  .checkbox-list__item {
    width: 220px;
  }

  .checkbox-list__item,
  .toggle-list__item {
    margin: 0 0 25px 0;
  }
}

@media (min-width: @desktop-width) {
  .form {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    padding: 0 120px;
  }

  .form-personality {
    flex-basis: 400px;
    padding-bottom: 60px;
  }

  .form-impression {
    order: -1;
    flex-basis: 400px;
    padding-bottom: 60px;
  }

  .form-contacts,
  .form-places {
    flex-basis: 960px;
    padding-bottom: 60px;
  }

  .form-contacts .form-list {
    display: flex;
    justify-content: space-between;
    align-self: center;
  }

  .form__legend {
    max-width: 323px;
    flex-basis: 320px;
    font-size: 21px;
    font-weight: 700;
    padding: 0 50px;
    background-color: #ffffff;
  }

  .form-review {
    flex-basis: 960px;
    padding: 0;
  }

  .form-review__text {
    margin-top: 60px;
    width: 950px;
  }

  .form button {
    width: 550px;
    height: 60px;
    margin: 60px 0;
  }

  .form-review__legend {
    flex-basis: 180px;
    visibility: visible;
    margin-left: 300px;
  }

  .form-list__item--contacts {
    flex-direction: row;
    width: 50%;
    margin: 30px 0 0 30px;
  }

  .form-list__title--contacts {
    margin: 0;
    line-height: 58px;
  }
}
