.greeting {
  background: url(../img/bg-intro-triangle-mobile.svg) 100% 100% no-repeat, url(../img/bg-back-mobile@1x.jpg) 100% 100% no-repeat;
  background-size: 100%, 100% 100%;
  padding: 10% 10% 15% 10%;
  margin: -10px;
  color: white; /* пока не вставлены картинки */
}
