.map {
  width: 320px;
  height: 350px;
  background: url("../img/icon-map-marker.svg") 0 50% no-repeat, url("../img/bg-map-mobile@1x.jpg") 0 0 no-repeat;
  background-size: 320px 27px, 320px 350px;
  margin: 30px 0;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background: url("../img/icon-map-marker.svg") 0 160px no-repeat, url("../img/bg-map-mobile@1x.jpg") 0 0 no-repeat;
    background-size: 320px 27px, 320px 350px;
  }
}

@media (min-width: @tablet-width) {
  .map {
    width: 768px;
    height: 350px;
    background: url("../img/icon-map-marker.svg") 0 50% no-repeat, url("../img/bg-map-tablet@1x.jpg") 0 0 no-repeat;
    background-size: 768px 27px, 768px 350px;
    margin: 30px 0;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background: url("../img/icon-map-marker.svg") 0 50% no-repeat, url("../img/bg-map-tablet@2x.jpg") 0 0 no-repeat;
      background-size: 768px 27px, 768px 350px;
    }
  }
}

@media (min-width: @desktop-width) {
  .map {
    width: 1200px;
    height: 350px;
    background: url("../img/icon-map-marker.svg") 0 50% no-repeat, url("../img/bg-map-desktop@1x.jpg") 0 0 no-repeat;
    background-size: 1200px 27px, 1200px 350px;
    margin: 30px 0;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background: url("../img/icon-map-marker.svg") 0 50% no-repeat, url("../img/bg-map-desktop@2x.jpg") 0 0 no-repeat;
      background-size: 1200px 27px, 1200px 350px;
      margin: 30px 0;
    }
  }
}