.page-header__toggle {
  position: absolute;
  top: 20px;
  right: 20px;
}

.page-header__logo-image {
  padding: 0;
  margin: 0 110px -27px 110px;
}

@media (min-width: @tablet-width) {
  .page-header__logo-image {
    margin: 0 330px -27px 330px;
  }

  .page-header__toggle {
    visibility: hidden;
  }
}

@media (min-width: @desktop-width) {
  .page-header__logo-image {
    margin: 0 550px -27px 550px;
  }
}
