.page-header__toggle {
  position: absolute;
  top: 20px;
  right: 20px;
}

.page-header__logo-image {
  padding: 0 110px 0 110px;
  margin-bottom: -27px;
}

@media (min-width: @tablet-width) {
  .page-header__logo-image {
    margin: 0 225px -27px 225px;
  }
  
  .page-header__toggle {
    visibility: hidden;
  }
}

@media (min-width: @desktop-width) {
  .page-header__logo-image {
    margin: 0 450px -27px 450px;
  }
}