.photos-list__item {
  padding: 20px;
  list-style-type: none;
  border-top: 1px solid #e5e5e5;
  line-height: 10px;
}

.photos-list {
  margin: 0;
  padding: 0;
}

.photo__text {
  margin: 20px 0 0 0;
}

.photo__likes {
  padding: 0 50px;
}
