.site-list__item {
  height: 55px;
  font-size: 21px;
  line-height: 55px;
  list-style-type: none;
  text-align: center;
  border-top: 1px solid #9ac2db;
  border-bottom: 1px solid #678fa8;
  margin-left: -40px;
  padding-left: 20px;
}

.site-list__link {
  text-decoration: none;
  color: #ffffff;
}

.site-list__toggle {
  position: absolute;
  top: 2%;
  right: 2%;
}
