 .site-list__item {
   height: 150px;
   font-weight: 700;
   font-size: 21px;
   line-height: 150px;
   list-style-type: none;
   text-align: center;
   border-top: 1px solid #9ac2db;
   border-bottom: 1px solid #678fa8;
}

.site-list__link {
  text-decoration: none;
  color: #ffffff;
}

.site-list__toggle {
  position: absolute;
  top: 70px;
  right: 50px;
}
